.About h1 {
    text-align: center;
}
.About-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.About-list i {
    font-size: 6em;
    color: #067bc2;
    margin-right: 50px;
}



@media only screen and (max-width:1200px) {
    .About-list i:last-child {
        margin-top: 30px;
    }
}   