.Home-container img {
    background: -webkit-linear-gradient(left top, #067bc2 0%, white 100%);
    width: 300px;
    border-radius: 50%;
    padding: 10px;
}

.Home-text {
    margin-left: 20px;
    text-align: justify;
}

.Home-title {
    font-family: 'Bungee', cursive;
    font-size: 28px;
    font-weight: bold;
}

.Home-info {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 50px;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 800px) {

    .Home-container {
        flex-direction: column;
    }
    .Home-title {
        font-size: 20px;
    }

    .Home-text {
        margin-left: 0px;
    }

    .Home-info {
        padding: 0;
        font-size: 1.0rem;
    }
 
    .Home-container img {
        background: -webkit-linear-gradient(left top, #067bc2 0%, white 100%);
        width: 200px;
        border-radius: 50%;
        padding: 10px;
    }

    
    
  }