.BarTechnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.BarTechnologies-title {
    margin-top: 20px;
}

.BarTechnologies-container i {
    flex-basis: 10%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    font-size: 6em;
}

.BarTechnologies-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.BarTechnologies-container:last-child {
    margin-bottom: 20px;
}

@media only screen and (max-width:1200px) {
    .BarTechnologies-container i {
        flex-basis: 25%;
    }
}